const orderLink =
    "https://food.bolt.eu/en/344-wroclaw/p/3142492-borowska-kebab/";


const menu = [

    /* =========================
       KEBAB
    ========================= */

    {
        category: "kebab",
        name: "Tortilla",
        description: "Mięso, surówka, sos",
        price: "26 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/4327a7e6-c365-4597-8f49-1ad8f8c671c7.jpeg"
    },

    {
        category: "kebab",
        name: "Knysza",
        description: "Mięso, surówka, sos",
        price: "34 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/cca55813-86a8-46f2-a190-227b88255fd5.jpeg"
    },

    {
        category: "kebab",
        name: "Rollo amerykańskie",
        description: "Mięso, frytki, ser, sos",
        price: "28 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/ca9ba588-2ff7-472b-bd3c-42f0aed09e95.jpeg"
    },

    {
        category: "kebab",
        name: "Zestaw kebab",
        description: "Mięso, surówka, frytki, sos",
        price: "34 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/59850002-0e68-4787-8e23-0ced66dfda73.jpeg"
    },

    {
        category: "kebab",
        name: "Kapsalon",
        description: "Mięso, frytki, ser, surówki, sos",
        price: "37 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/5bde6b7d-18ba-483b-8268-50d199fd6403.jpeg"
    },

    {
        category: "kebab",
        name: "Zestaw nuggets",
        description: "Nuggets, frytki, surówka, sos",
        price: "35 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/3bd0b2b1-ca6a-4086-8fa5-d253a5d693f2.jpeg"
    },

    {
        category: "kebab",
        name: "Fryto bułka z serem",
        description: "Mięso, frytki, sos",
        price: "38 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/e4399a9e-1dc1-413c-a468-3686f42fdef6.jpeg"
    },


    /* =========================
       WEGETARIAŃSKIE
    ========================= */

    {
        category: "vegetarian",
        name: "Knysza falafel",
        description: "Falafel, surówka, sos",
        price: "32 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/a92ceadb-b8ab-447b-b1de-acc9f83daf2a.jpeg"
    },

    {
        category: "vegetarian",
        name: "Tortilla falafel",
        description: "Falafel, surówka, sos",
        price: "31 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/59dbb515-1f14-42f9-a43f-091641da09fc.jpeg"
    },

    {
        category: "vegetarian",
        name: "Zestaw falafel",
        description: "Falafel, hummus lub frytki, surówka, sos",
        price: "36 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/0a00961f-82a0-46dd-9e33-8933fcaa0f86.jpeg"
    },

    {
        category: "vegetarian",
        name: "Zestaw smażony ser",
        description: "Ser, frytki, sos",
        price: "32 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/e50d4f2c-4f08-4690-b6f9-af485c969726.jpeg"
    },

    {
        category: "vegetarian",
        name: "Zestaw filet mintaja",
        description: "Filet mintaja, frytki, sos",
        price: "36 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/b185f033-7c07-44dd-9bfa-bde6e9bc90b2.jpeg"
    },


    /* =========================
       BOXY
    ========================= */

    {
        category: "boxes",
        name: "Box kebab",
        description: "Mięso, frytki, sos",
        price: "29 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/120a0967-2665-4438-bfa2-cabaa6bdd6ff.jpeg"
    },

    {
        category: "boxes",
        name: "Box nuggets",
        description: "Nuggets, frytki, sos",
        price: "28 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/e93efee0-9318-466f-8656-b8fd43ece4c1.jpeg"
    },


    /* =========================
       SAŁATKI
    ========================= */

    {
        category: "salads",
        name: "Sałatka grecka",
        description: "Mix sałat, oliwki, ser feta",
        price: "28 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/927cdbf1-1953-4aa2-9c03-de17ab6d70a9.jpeg"
    },

    {
        category: "salads",
        name: "Sałatka z mięsem",
        description: "Mix sałat, mięso, sos",
        price: "36 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/60b1486b-e45d-4c3a-9fdb-50a6c9fbad6e.jpeg"
    },


    /* =========================
       DODATKI
    ========================= */

    {
        category: "sides",
        name: "Sos",
        description: "Dodatkowa porcja sosu",
        price: "4 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/5cf3c818-aaa5-4d38-8fef-e46943126e7d.jpeg"
    },

    {
        category: "sides",
        name: "Frytki",
        description: "Dodatkowa porcja frytek",
        price: "15 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/dcd0e5ee-aea5-4248-81f1-4aaf0654abf8.jpeg"
    },

    {
        category: "sides",
        name: "Falafel",
        description: "Dodatkowa porcja falafela",
        price: "4 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/345905f8-427d-42b9-b0e0-738e91dfab21.jpeg"
    },


    /* =========================
       NAPOJE
    ========================= */

    {
        category: "drinks",
        name: "Woda niegazowana",
        description: "Do wyboru rozmiar",
        price: "4 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/e9cc72d7-e54f-4f36-953d-e67e347e3c66.jpeg"
    },

    {
        category: "drinks",
        name: "Woda gazowana",
        description: "Do wyboru rozmiar",
        price: "4 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/be691651-6490-4b6a-bd13-324cc4596b93.jpeg"
    },

    {
        category: "drinks",
        name: "Ayran",
        description: "0,33 l",
        price: "9 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/1f8bdd94-a817-4b07-a31f-c8442d3a8e73.jpeg"
    },

    {
        category: "drinks",
        name: "Coca-Cola",
        description: "Do wyboru rozmiar",
        price: "9 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/e79b2589-447b-46f6-bf18-a17545edca0c.jpeg"
    },

    {
        category: "drinks",
        name: "Pepsi",
        description: "Do wyboru rozmiar",
        price: "9 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/7e750e94-21f1-4562-897c-5110292128e1.jpeg"
    },

    {
        category: "drinks",
        name: "Mirinda",
        description: "Do wyboru rozmiar",
        price: "9 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/535a299e-d0e3-4dce-94ea-6666db1d16ee.jpeg"
    },

    {
        category: "drinks",
        name: "Sok mango",
        description: "0,33 l",
        price: "10 zł",
        image: "https://images.bolt.eu/store/2026/2026-08-28/6216ed1c-1388-4fcc-a041-cb8e022fc21f.jpeg"
    }

];


const menuGrid = document.getElementById("menuGrid");
const categoryButtons = document.querySelectorAll(".category");


function renderMenu(category) {

    const items = menu.filter(
        item => item.category === category
    );

    menuGrid.innerHTML = "";

    items.forEach(item => {

        menuGrid.innerHTML += `
            <article class="menu-card">

                <div class="menu-image">
                    <img
                        src="${item.image}"
                        alt="${item.name}"
                        loading="lazy"
                    >
                </div>

                <div class="menu-info">

                    <h3>${item.name}</h3>

                    <p>${item.description}</p>

                    <div class="menu-bottom">

                        <span class="menu-price">
                            ${item.price}
                        </span>

                        <a
                            href="${orderLink}"
                            target="_blank"
                            rel="noopener"
                            class="menu-order">
                            ZAMÓW →
                        </a>

                    </div>

                </div>

            </article>
        `;
    });
}


categoryButtons.forEach(button => {

    button.addEventListener("click", () => {

        categoryButtons.forEach(btn => {
            btn.classList.remove("active");
        });

        button.classList.add("active");

        renderMenu(button.dataset.category);

    });

});


renderMenu("kebab");
